

body{
    /* margin: 10px;
    margin-left: 25px; */
    position: relative;
    height:100vh;
    background-color: lightblue;
}

header{
    display: flex;
    justify-content: center;
    height: 20vh;
    /* need to change width to bringthe edges in to create a new  block  of  information */
    background-image: url("../hero.jpg");
    width:100vw;
}
/* / adapting color  */
nav  {
    background-color: RGB(2, 74, 132);
}
section{
  /* display:flex; */
  padding-left:25px;
}
#input-bar{
  background-color: lightblue;
}
::placeholder{
  color:#888;
}



.page-footer {
  
    background-color: RGB(2, 74, 132);
    position:absolute;
    width:100%;
    
}

.searchBtn {
    padding: 10px 24px;
    font-size: medium;
    margin-left:25px;
}
/* im just messing arond to see if i can get a cool smooth  animation  to highlight the checkout todays top searchs */
.dropdown-trigger {
  
  background-color: RGB(2, 74, 132);
  animation-name: dropdown-trigger;
  animation-duration: 8.5s;
}

@keyframes dropdown-trigger {
  from {background-color: RGB(248, 253, 247);}
  to {background-color: RGB(246, 231, 211);}
  to {background-color: RGB(232, 212, 173);}
  to {background-color: RGB(206, 138, 58);}
  to {background-color: RGB(149, 79, 15);}

}

.giffy-btn {
    /* padding: 10px 24px; */
    font-size: medium;
}



/* The Modal (background) */
.modal {
    margin-top: 100px;
    margin-left:100px;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: lightskyblue;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width:500px; /* Could be more or less, depending on screen size */
    color:RGB(248, 253, 247);
    font-size: 20px;
    font-weight: bolder;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  #input-box{
    width:20vw;
    margin-left:25px;
  }
  .information-box{
    /* background-color: lightblue; */
    display:flex;
    align-content: space-between;
    padding-top: 50px;
    margin-bottom: 50px;
    min-height: 30vh;
    max-width: 50vw;
    /* width:70vw; */
  }
  .giff-box{
    display:flex;
    margin-left: 25px;
    
  }
  
#welcome{
  margin-left: 25px;
}
.giff-frame{
  
  display:none;
  padding:5px;
  width:250px;
  height:250px;
  object-fit: cover;

}
.search-bar{
  background-color: RGB(2, 74, 132);
  display: flex;
  padding:20px;
}
 #desc-box{
  min-width: 30vw;
 }
 #start-img{
  width: 40vw;
  height:50vh;
  margin-top:15px;
  border-radius: 10px;
  
 }
  