/* Rodd and Dez are deciding what framework to use */git
body{
    margin: 10px;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    background-color: antiquewhite;
    height:100vh;
    
}
header{
    display: flex;
    color:antiquewhite;
    justify-content: center;
    height: 20vh;
    /* background-color: brown; */
    background-image: url("/Users/roddazad/bootcamp/myrepos/project/movie-lookup/assets/Screen Shot 2022-11-07 at 9.29.26 PM.jpg");
    
    
    
}
section{
    display: flex;
    justify-content: center;
}
img{
    width: 10vw;
    height: 20vh;
    border: 3px solid black;
    border-radius: 5%;
   
}

.information-box{
    width: 50vw;
    height:50vh;
    border: 3px solid black;
    margin-right: 10px;
}
.track-box{
    width: 10vw;
    height: 25vh;
    border: 3px solid black;
}
.title-h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 300px 0 300px
}
#poster{

    display:none;
}
/* .header-image{
    background-image: url('movieimage.jpg');
} */