/* Rodd and Dez are deciding what framework to use */git
body{
    margin: 10px;
    position: relative;
    height:100vh;
}

header{
    display: flex;
    justify-content: center;
    height: 20vh;
    /* need to change width to bringthe edges in to create a new  block  of  information */
    background-image: url("../hero.jpg");
}

nav  {
    background-color: RGB(2, 74, 132);
}

footer {
    background-color: RGB(2, 74, 132);
}

